/* Comomon's css */
.fourVideoImg {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

/* LeftAlbumTool's css */
.LefttoolPage__style {   
    width: 580px;
    height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #fff;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 0px 10px 10px #C8C8C8;
}

/* RightAlbumTool's css */
.RighttoolPage__style {
    width: 580px;
    height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #fff;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 0px 10px 10px #C8C8C8;
}

/* VideoInput */
.VIpage__style{
    width: 200px;
    height: 800px;
    border: 1px solid black;
    margin: 2% 2% 10% 2%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.vI__style {
    width : 100%;
    height : 70%;
    background-color: #B1B1B1;
}

.vT__style {
    text-align: left;
    margin-top: 10%;
    margin-bottom: 40%;
}

.vB__style {
    margin: 5%;
}

.videoDate {
    font-size: 25px;
    font-weight: bold;
}

.videoText {
    margin-top: 5%;
    color: #4A4949;
}

/* ring's style */
.albumRings {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 3%;
}

.ring {
    width: 50px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 13%;
    margin-bottom: 13%;
  }